@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
      font-family: "kiffo-regular";
      src:local('kiffo-regular'), url("./assets/Kiffo-BT-Regular.woff");
      font-weight: normal;
    }
    @font-face {
      font-family: "kiffo-bold";
      src: url("/assets/fonts/Kiffo-BT-Bold-Bold.woff");
    }
    @font-face {
      font-family: "kiffo-extra-light";
      src: url("/assets/fonts/Kiffo-BT-ExtraLight.woff");
    }
    @font-face {
        font-family: "kiffo-extra-medium";
        src: url("/assets/fonts/Kiffo-BT-Medium.woff");
        font-weight: 700;
      }

    body {
        font-family: 'kiffoR' sans-serif;
        background-color: #000;
    }
  }